---
layout: layouts/base.njk
title: Ferrari Singapore Case Study | AKA Digital
description: How AKA Digital drove 152% KPI over-delivery for Ferrari Singapore (Ital Auto Pte Ltd) through precision Facebook advertising and mobile geo-targeting across Singapore's luxury automotive market.
permalink: /case-studies/ital-auto-ferrari-digital/index.html
studySlug: ital-auto-ferrari-digital
---
{% include "case-studies/template.njk" %}
